/* Customer.css */

.list-customer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-customer h2 {
    color: #333;
    margin-bottom: 20px;
}

.list-customer ul {
    list-style: none;
    padding: 0;
}

.list-customer li {
    margin: 10px 0;
}

.list-customer a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.list-customer a:hover {
    color: #5abffa;
}

.list-customer .add-link {
    display: block;
    margin-top: 20px;
    color: #28a745; /* Green color for the "Add New Customer" link */
    text-decoration: none;
    font-weight: bold;
}

.list-customer .add-link:hover {
    color: #26ec4f;
}

#deleteCustomer:hover {
    color: red;
}

.details-customer {
    margin-left: 20px;
}

.update-customer {
    margin-left: 20px;
}

#update-customer-button:hover {
    color: #28a745;
}

.delete-customer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-customer h2 {
    color: #dc3545; /* Red color for the heading */
}

.delete-customer p {
    margin: 20px 0;
}

.delete-customer button {
    background-color: #28a745; /* Green color for the buttons */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-customer button:hover {
    background-color: #dc3545; /* Red color on hover for "Yes, Delete" button */
}

.delete-customer .cancel-button {
    background-color: #007BFF; /* Blue color for the "No, Cancel" button */
}

.delete-customer .cancel-button:hover {
    background-color: #0056b3; /* Darker blue on hover for "No, Cancel" button */
}

.create-customer {
    margin-left: 20px;
}

.create-customer button:hover {
    color: #28a745;
}
