.subscription-details {
    margin-left: 20px;
}

.subscription-list-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subscription-list-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.subscription-list-container ul {
    list-style: none;
    padding: 0;
}

.subscription-list-container li {
    margin: 10px 0;
}

.subscription-list-container a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.subscription-list-container a:hover {
    color: #0056b3;
}

.subscription-list-container .delete-link {

}

.subscription-list-container .delete-link:hover {

    color: #c82333;
}

.subscription-list-container .add-link {
    display: block;
    margin-top: 20px;
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.subscription-list-container .add-link:hover {
    color: #26ec4f;
}

.edit-subscription {
    margin-left: 20px;
}

.create-subscription {
    margin-left: 20px;
}

/* Subscription.css */

.delete-subscription-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-subscription-container h2 {
    color: #dc3545; /* Red color for the heading */
    margin-bottom: 20px;
}

.delete-subscription-container p {
    margin: 20px 0;
}

.delete-subscription-container button {
    background-color: #28a745; /* Green color for the buttons */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-subscription-container #complete-delete:hover {
    background-color: #dc3545; /* Red color on hover for "Yes, Delete" button */
}

.delete-subscription-container #cancel-delete {
    background-color: #007BFF; /* Blue color for the "No, Cancel" button */
}

.delete-subscription-container #cancel-delete:hover {
    background-color: #0056b3; /* Darker blue on hover for "No, Cancel" button */
}

/* Car.css */


